@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff2")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-RegularItalic.woff")
    format("woff");
  src: url("../assets/fonts/Montserrat/Montserrat-RegularItalic.woff2")
    format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-BoldItalic.woff")
    format("woff");
  src: url("../assets/fonts/Montserrat/Montserrat-BoldItalic.woff2")
    format("woff2");
}
